/** Global */
.customRed {
    color: #eb1e1e;
}

.hidden {
    display: none;
}

.hideChild div {
    display: none;
}
/** !Global */

#header, #side .item, #error {
    text-align: center;
}

#header div {
    display: inline-block;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}

#solve, #resetZoom {
    color: #fff;
    background-color: #0062cc;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#side {
    position: absolute;
    right: 5px;
}

#side .item {
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

#side .item .icon {
    margin: 7px;
    display: block;
}

.sideContent {
    position: absolute;
    right: 50px;
    top: 0;
    color: #fff;
    background-color: #000;
    padding: 5px;
    border-radius: 10px;
    cursor: text;
    width: max-content;
    max-width: 400px;
}

.sideContent span {
    color: yellow;
}

#output {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

/** Dark Theme */
.dark {
    background-color: #000;
    color: #fff;
}

.dark #header div {
    background-color: #fff;
}

.dark .sideContent {
    background-color: #fff;
    color: #000;
}

.dark .sideContent span {
    color: blue;
}
/** !Dark Theme */

@media only screen and (max-width: 500px) {
    .sideContent {
        max-width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .sideContent {
        max-width: 200px;
    }
}

@media only screen and (max-width: 300px) {
    .sideContent {
        max-width: 100px;
    }
}
